section {
	margin-top: 50px;
}

section:nth-of-type(1){
	margin-top:0px;
}

header, main, footer {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

footer {
	height: 200px;
	background-color: #ccc;
}

main{
	padding-bottom:50px !important;
}

nav {
	display:flex;
	justify-content: center;
}

nav a {
	margin: 0 10px;
	color: black;
	font-size: 1.5em;
}